[Unit]
Description=Apply kernel arguments on first boot
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/var/tmp/apply-firstboot-kargs.sh
RemainAfterExit=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target