[Desktop Entry]
Name=Cinnamon
Comment=This session logs you into Cinnamon
Exec=/usr/bin/cinnamon-session
TryExec=/usr/bin/cinnamon-session
Type=Application
DesktopNames=Cinnamon;GNOME;
Hidden=false
X-GDM-SessionRegisters=true
X-Desktop-Position=MM
NoDisplay=false